@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

:root {
    --primary: #333;
    --secondary: #555;
    --background: #f4e0d9;
    --navbar: #f4c8b4;
    --button-bg: #e66c2c;
    --button: white;
    --search-bar-placeholder: #aaa;
    --search-bar: white;
    --profile-name: #e66c2c;
    --food-item-bg: white;
    --modal-bg: white;
    --modal-title: #e66c2c;
    --modal-ingredients: #333;
    --food-image: #eee;
    --favorite: #f00;
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--primary);
}

/* Navbar */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--navbar);
    padding: 0.625rem 1.25rem;
    /* width: 100%;
    box-sizing: border-box; */
}

.logo {
    height: 3.125rem;
    cursor: pointer;
}

.create-btn {
    height: 3.125rem;
    width: 6.25rem;
    padding: 0.5rem 0.9375rem;
    margin-left: 1.25rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 1.5625rem;
    background-color: var(--button-bg);
    color: var(--button);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.create-btn:hover {
    background-color: var(--button);
    color: var(--button-bg);
}

.search-bar {
    display: flex;
    align-items: center;
    position: relative;
    flex-grow: 1;
    margin: 0 1.25rem;
}

.search-bar input {
    width: 100%;
    height: 3.125rem;
    border-radius: 1.5625rem;
    padding: 0 1.25rem;
    border: none;
    outline: none;
    background-color: var(--search-bar);
    font-size: 1rem;
    box-shadow: 0 0.125rem 0.313rem rgba(0, 0, 0, 0.1);
}

.search-bar input::placeholder {
    color: var(--search-bar-placeholder);
    font-style: italic;
}

.search-bar input:focus {
    box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.2);
}

.search-bar .clear-icon {
    position: absolute;
    right: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    cursor: pointer;
    color: var(--search-bar-placeholder);
    user-select: none;
}

.profile-icon {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.profile-img {
    height: 3.125rem;
    width: 3.125rem;
    object-fit: cover;
    border-radius: 50%;
    pointer-events: none;
}

.login-btn {
    height: 3.125rem;
    width: 6.25rem;
    padding: 0.5rem 0.9375rem;
    font-size: 1rem;
    font-weight: bold;
    border: 0.125rem solid var(--button-bg);
    border-radius: 1.5625rem;
    background-color: var(--button);
    color: var(--button-bg);
    cursor: pointer;
}

.signup-btn {
    height: 3.125rem;
    width: 6.25rem;
    padding: 0.5rem 0.9375rem;
    margin-left: 1.25rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 1.5625rem;
    background-color: var(--button-bg);
    color: var(--button);
    cursor: pointer;
}

/* FEED */

.recipes-feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* food item */

.food-item {
    width: 23%;
    margin: 2% 0;
    padding: 0.4rem;
    padding-bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 0.625rem;
    background-color: var(--food-item-bg);
    cursor: pointer;
}

.food-item:hover {
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.3);
}

.food-item img {
    height: 80%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.625rem;
}

.food-item p {
    margin: 0.4rem;
    font-weight: bold;
    font-size: 1.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* modals */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: var(--modal-bg);
    padding: 1.25rem;
    border-radius: 0.625rem;
    text-align: center;
    max-width: 37.5rem;
    width: 90%;
    position: relative;
}

#modal-buttons {
    position: absolute;
    bottom: 1.25rem;
    right: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#favoriteBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.625rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    color: var(--button);
    background-color: var(--button-bg);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#favoriteBtn:hover {
    background-color: var(--favorite);
    transform: scale(1.1);
}

#favoriteBtn i {
    font-size: 1.125rem;
    text-align: center;
}

#instructionsBtn {
    height: 2.5rem;
    width: 7.8125rem;
    font-size: 0.875rem;
    font-weight: bold;
    border: 0.125rem solid var(--button-bg);
    border-radius: 1.5625rem;
    background-color: var(--button);
    color: var(--button-bg);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#instructionsBtn:hover {
    transform: scale(1.1);
}

#instructionsBtn i {
    font-size: 1.5rem;
}

#foodTitle {
    color: var(--modal-title);
}

#foodImage {
    float: left;
    width: 50%;
    margin-right: 1.25rem;
    border-radius: 0.625rem;
}

#foodIngredients {
    margin-top: 0.625rem;
    font-size: 1rem;
    color: var(--modal-ingredients);
}

@media screen and (max-width: 50rem) {
    .fridge-area {
        flex-direction: column;
    }

    .food-item {
        width: 100%;
    }
}

/* General content area */

.content-area {
    text-align: center;
    margin: 1.25rem auto;
    padding: 1.25rem;
    max-width: 70%;
}

/* Mainpage specific styles */

.mainpage {
    text-align: center;
    /* keby treba nejake custom
    css pre main page
    ale nie pre account tak tu 
    ale nic mi nenapada*/
}

/* Fridge */

.fridge-area {
    display: flex;
    width: 100%;
    gap: 1.25rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;
}

.fridge {
    flex: 4;
}

.fridge img {
    width: 100%;
    height: auto;
}

.fridge-search {
    flex: 6;
    justify-content: center;
    align-items: center;
}

#fridge-table {
    width: 100%;
    background-color: white;
    border-radius: 0.3125rem;
}

#fridge-table input {
    width: 90%;
    padding: 0.3125rem;
    border: none;
    border-radius: 0.1875rem;
}

.actions button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: var(--secondary);
    padding: 0.3125rem;
    border-radius: 0.1875rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.actions button:hover {
    background-color: var(--button-bg);
    color: var(--button);
}

#fridge-add-btn {
    width: 100%;
    padding: 0.3125rem;
    margin-top: 0.1875rem;
    font-size: 0.875rem;
    font-weight: bold;
    color: var(--button);
    background-color: var(--button-bg);
    border: 0.125rem solid var(--button-bg);
    border-radius: 0.3125rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#fridge-add-btn:hover {
    background-color: var(--button);
    color: var(--button-bg);
}

.fridge-search-bar {
    margin-top: 0.1875rem;
    gap: 0.625rem;
    display: flex;
    justify-content: space-between;
}

.fridge-search-bar {
    width: 100%;
    background-color: var(--search-bar);
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fridge-search-bar p {
    font-size: 1rem;
    padding: 0.3125rem;
    margin: 0;
}

.fridge-search-bar button {
    border: none;
    background: none;
    cursor: pointer;
}

.fridge-search-bar button img {
    height: 1.25rem;
}

/* Account-page specific styles*/

.account-page {
    text-align: center;
    /* keby treba nejake custom
    css pre account page
    ale nie pre main tak tu 
    ale nic mi nenapada*/
}

.profile-header {
    margin-bottom: 1.25rem;
}

.profile-header .avatar {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    margin-bottom: 0.625rem;
}

.profile-header h2 {
    color: var(--profile-name);
}

.follow-stats {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    margin: 0.625rem 0;
}

.tabs {
    margin-top: 0.625rem;
}

.tab-btn {
    padding: 0.5rem 0.938rem;
    border: none;
    border-radius: 0.313rem;
    background-color: var(--button);
    cursor: pointer;
    margin: 0.313rem;
    transition: background-color 0.3s ease;
}

.tab-btn:hover {
    background-color: var(--button-bg);
    color: var(--button);
}

/* Create Recipe Page */

.layout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 1.25rem;
    padding: 1.25rem;
    width: 100%;
    box-sizing: border-box;
}

.food-card {
    flex-shrink: 0;
    width: 25%;
    background-color: var(--food-item-bg);
    border-radius: 0.625rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.food-image {
    width: 100%;
    aspect-ratio: 8/8;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--food-image);
    border: 0.063rem dashed #aaa;
}

.food-details {
    padding: 0.625rem;
    text-align: center;
}

.food-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary);
}

.food-author {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    color: var(--secondary);
    margin-top: 0.313rem;
}

.ingredients-card {
    background-color: var(--navbar);
    border: 0.063rem solid var(--secondary);
    border-radius: 0.625rem;
    padding: 0.938rem;
    width: 25%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ingredients-header h3 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
}

.ingredient-list {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 0.625rem;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.ingredient-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
    border-radius: 0.313rem;
    padding: 0.313rem 0.625rem;
}

.ingredient-name {
    font-size: 1rem;
    color: var(--primary);
}

.ingredient-actions {
    display: flex;
    gap: 0.313rem;
}

.edit-button, .delete-button {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--primary);
}

.edit-button:hover, .delete-button:hover {
    color: var(--secondary);
}

.add-ingredient {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    border-radius: 0.313rem;
    padding: 0.625rem;
    cursor: pointer;
}

.add-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--primary);
}

.add-button:hover {
    color: var(--secondary);
}